* {
	box-sizing: border-box;
}

html {
	position: relative;
	height: 100%;
}

body {
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #4d4d4d;
	font-weight: normal;
	padding: 0 10px;
	background-color: #0079bf;
	position: relative;
	height: 100%;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

main {
	padding: 50px 10px;
	overflow-x: auto;
	overflow-y: hidden;
	height: 100%;
	white-space: nowrap;
}
